.header {
    background-color: black;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
.title{
    color: red;
}

.links{
    color: white;
    padding: 10px 12px;  
    text-decoration: none;
}