.header {
    background-color: black;
    height: 70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    
}

.header img{width: 95px; height: 31px;}

.header h2{color: white;}

.header nav{
    display: flex;
}

.header div{
    padding: 10px 12px;
    display: flex;
    align-items: center;
}

.title{
    color: red;
    text-decoration: none;
}

.link{
    color: white;  
    text-decoration: none;
}