.header {
    position: fixed;
    height: 80px;
    width: 100%;
    transition: 0.5s;
    display:flex;
    align-items: center;
    justify-content: start;
    padding: 0 4rem;    
    
}

.header img{width: 95px; height: 31px;}


.header nav{
    display: flex;
    margin-left: 50px;
}

.header div{
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #e5e5e5;
}
.link:focus{color:white;}