.footer{
    background-color: black;
    border-top: 2px solid red;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;

}

.p{
    color: white;
    
}