.search{}

.search input{
    border:2px solid white;
    height: 40px;
    width: 250px;
    padding: 5px;
    background-color: #00050D;
}
.search input:focus{
    outline: none;
    color: white;
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.result{display: flex; flex-wrap: wrap;width: 100%; gap: 5px; justify-content: center;}