.banners{
    width: 100%;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner{
    width: 80%;
    height: 350px;
    
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}